@model term

@{
    string type = ViewBag.Type;
}

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.id)

<div class="form-group no-margin-hr">
    @Html.LabelFor(m => m.name, new { @class = "control-label", @for = "inputname" })
    @Html.TextBoxFor(m => m.name, new { @class = "form-control", @id = "inputname", @placeholder = lang("请输入分类名称") })
    @Html.ValidationMessageFor(m => m.name)
</div>
<div class="form-group no-margin-hr">
    @Html.LabelFor(m => m.slug, new { @class = "control-label", @for = "inputslug" })
    @Html.TextBoxFor(m => m.slug, new { @class = "form-control", @id = "inputslug", @placeholder = lang("请输入分类别名") })
    @Html.ValidationMessageFor(m => m.slug)
</div>
<div class="form-group no-margin-hr">
    @Html.LabelFor(m => m.info, new { @class = "control-label", @for = "inputinfo" })
    @Html.TextAreaFor(m => m.info, new { @class = "form-control", @id = "inputinfo", @placeholder = lang("请输入分类描述") })
    @Html.ValidationMessageFor(m => m.info)
</div>

<div class="form-group no-margin-hr">
    @Html.LabelFor(m => m.order, new { @class = "control-label", @for = "inputorder" })
    @Html.TextBoxFor(m => m.order, new { @class = "form-control", @id = "inputorder", @placeholder = lang("请输入顺序编号") })
    @Html.ValidationMessageFor(m => m.order)
</div>
<div class="form-group no-margin-hr">
    @Html.LabelFor(m => m.parent, new { @class = "control-label", @for = "selectroleid" })
    @Html.Partial("termdropdown", new termdropdown { 
            name = "parent", 
            selected = Model.parent, 
            defaulttext = lang("无父级分类").ToString(),
            termtype = ViewBag.Type
        })
    @Html.ValidationMessageFor(m => m.parent)
</div>

<hr />

<div class="form-group">
    <div class="col-lg-12">
        @if (Model.id > 0)
        {
            <input type="submit" class="btn btn-primary" value="@lang("更新")" />
            <a href="@Url.Action("delete", new { @id = Model.id, @returnurl = backurl })"
               ask="@lang("确定删除此分类吗（此操作将不可恢复。）？")"
               class="btn btn-danger">@lang("删除")</a>
        }
        else
        {
            <input type="submit" class="btn btn-primary" value="@lang("创建")" />
        }
    </div>
</div>

<div class="form-group no-margin-hr">
    @Html.LabelFor(m => m.pic, new { @class = "control-label", @for = "inputurl" })
    <table style="width:100%;">
        <tr>
            <td id="pic-box" class="picbox" style="background-color:white; border:solid 1px #efefef;">
                @if (!string.IsNullOrWhiteSpace(Model.pic))
                {
                    <img src="@Model.pic" title="点击更换图片" />
                    <a href="javascript:;" class="del" id="btnpicremove">删除</a>
                }
                else
                {
                    @lang("点此选择一张图片")
                }
            </td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.pic)
    @Html.ValidationMessageFor(m => m.pic)
</div>

<script type="text/javascript">
    $('#pic-box').click(function () {
        Q.media({
            single: true,
            mimetype: 'image',
            ok: function (media) {
                if (media) {
                    $('#pic-box').html('<img title="点击更换图片" src= "' + media.url + '"/><a href="javascript:;" class="del" id="btnpicremove">删除</a>');
                    $('#pic').val(media.url);
                }
            }
        });
    });

    $('#pic-box').on('click', '#btnpicremove', function (e) {
        $('#pic-box').html('@lang("点此选择一张图片").ToHtmlString()');
        $('#pic').val('');

        e.stopPropagation();
        return false;
    });
</script>