@{
    ViewBag.active_nav = "commentlist";

    ViewBag.Title = lang("评论列表");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    string where = string.Empty;
    string key = get("key").Trim();
    if (!string.IsNullOrWhiteSpace(key))
    {
        where = "title like :key or author like :key or excerpt like :key";
    }
}

@section breadcrumb {
    <li class="active"><a href="@Url.Action("list")">@lang("评论管理")</a></li>
}

@section toolbar{
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;@lang("评论管理")</h1>

            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">

                    <div class="visible-xs clearfix form-group-margin"></div>

                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("list", "comments", FormMethod.Get, new { @id="data-form" }))
{
    <div class="table-light">
        <div role="grid" class="dataTables_wrapper form-inline no-footer">
            <div class="table-header clearfix">
                <div class="table-caption">
                    <div id="search-box">
                        <select class="form-control" name="act">
                            <option value="">@lang("请选择操作")</option>
                            <option value="del">@lang("删除选中项")</option>
                        </select>
                        <input type="button" id="doaction" value="@lang("执行")" class="btn btn-danger" />

                        @Html.TextBox("key", key, new { @class = "form-control", @placeholder = lang("输入关键词搜索") })
                        <input type="submit" value="@lang("搜索")" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable no-footer">
                <thead>
                    <tr>
                        <th class="checkbox-col text-center"><input type="checkbox" class="check-all" /></th>
                        <th>ID</th>
                        <th>@lang("评论内容")</th>
                        <th>@lang("发表用户")</th>
                        <th class="@orderclass("date")"><a href="@orderurl("date")">@lang("评论日期")</a></th>
                        <th class="@orderclass("status")"><a href="@orderurl("status")">@lang("状态")</a></th>
                    </tr>
                </thead>
                <tbody>
                    @{
    foreach (comment m in comments(order: get("order"), where: where, wherevalue: new { @key = "%" + key + "%" }))
    {
        <tr>
            <td class="text-center"><input class="form-control id-chekcbox" name="id" value="@m.id" type="checkbox" /></td>
            <td>@m.id</td>
            <td>
                @m.content
                <div class="table-row-tool">
                    <a class="text-info" href="@Url.Action("update", new { id = m.id })"><i class="fa fa-pencil"></i>@lang("编辑")</a>
                    <a class="text-danger" ask="@lang("确定删除此评论吗（此操作将不可恢复。）？")"
                       href="@Url.Action("delete", new { id = m.id })"><i class="fa fa-times"></i>@lang("删除")</a>
                </div>
            </td>
            <td>@user(m.userid).nicename</td>
            <td>@m.date.ToLongDateString()</td>
            <td>@m.status</td>
        </tr>
    }
                    }
                </tbody>
            </table>

            @pager()
        </div>
    </div>
}

@section footer {
    <script type="text/javascript">
        $('#doaction').click(function () {
            var form = $('#data-form');
            if ($('select[name="act"]').val() === 'del') {
                if (confirm('@lang("确定删除选中的评论吗（此操作将不可恢复。）？")')) {
                    form.attr('action', '@Url.Action("operate")')
                }
                else {
                    return;
                }
            }

            form.submit();
        });
</script>
}