@{
    Layout = themeserverpath + "/Views/Shared/_layout.cshtml";
    currentnavslug = "index";
}

@css("/styles/flexslider.css")

<div id="outerslider">
    <div class="container">
        <div id="slidercontainer" class="twelve columns">

            <section id="slider">
                <div id="slideritems" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="@themeurl("/images/content/slide1.jpg")" alt="" />
                            <div class="flex-caption">
                                <h1>Think Unique</h1>
                                <div class="slidetext1">Mauris ligula <span class="colortext">molestie</span> &amp; <span class="colortext">scelerisque</span></div>
                                <div class="slidetext2">Donec consectetur libero ut tortor condimentum eu egestas</div>
                            </div>
                        </li>
                        <li>
                            <img src="@themeurl("/images/content/slide2.jpg")" alt="" />
                            <div class="flex-caption">
                                <h1>Feel alive</h1>
                                <div class="slidetext1">Mauris ligula <span class="colortext">molestie</span> &amp; <span class="colortext">scelerisque</span></div>
                                <div class="slidetext2">Donec consectetur libero ut tortor condimentum eu egestas</div>
                            </div>
                        </li>
                        <li>
                            <img src="@themeurl("/images/content/slide3.jpg")" alt="" />
                            <div class="flex-caption">
                                <h1>Think Real</h1>
                                <div class="slidetext1">Mauris ligula <span class="colortext">molestie</span> &amp; <span class="colortext">scelerisque</span></div>
                                <div class="slidetext2">Donec consectetur libero ut tortor condimentum eu egestas</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>
</div>

<div id="outerbeforecontent">
    <div class="container">
        <div id="beforecontent" class="twelve columns">
            <h1>
                您好，非常高兴您能够找到并浏览我们的网站，我们最近出了一个不错的产品<span class="colortext">奇鸟CMS</span>您当前看到的这个
                网站，正是由奇鸟CMS驱动的，如果您感兴趣的话，可以进一步了解。
            </h1>
            <a href="http://www.qiniaocms.com" target="_blank" class="button">了解更多</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/service" class="button">还有其他服务吗？</a>
        </div>
    </div>
</div>

<div id="outermain">
    <div class="container">
        <section id="maincontent" class="twelve columns">

            <h2 class="titleSection">我们可以为您做一些什么？</h2>
            <div class="one_third firstcols">
                <h3 class="titleRegular"><img src="@themeurl("/images/icons/icon1.png")" alt="" class="alignleft" />网站建设解决方案</h3>
                <p>
                    Quisque tellus sem, hendrerit vitae suscipit sed, consequat non dui. Sed eget tortor ut neque scelerisque vehicula pretium eget libero.
                    Aliquam hendrerit tincidunt dictum.
                </p>
            </div>
            <div class="one_third">
                <h3 class="titleRegular">
                    <img src="@themeurl("/images/icons/icon2.png")" alt="" class="alignleft" />办公软件开发与维护
                    Customizable
                </h3>
                <p>
                    Quisque tellus sem, hendrerit vitae suscipit sed, consequat non dui. Sed eget tortor ut neque scelerisque vehicula pretium eget libero.
                    Aliquam hendrerit tincidunt dictum.
                </p>
            </div>
            <div class="one_third lastcols">
                <h3 class="titleRegular">
                    <img src="@themeurl("/images/icons/icon3.png")" alt="" class="alignleft" />由您具体的需求来定制开发<br />
                    for Pages
                </h3>
                <p>
                    Quisque tellus sem, hendrerit vitae suscipit sed, consequat non dui. Sed eget tortor ut neque scelerisque vehicula pretium eget libero.
                    Aliquam hendrerit tincidunt dictum.
                </p>
            </div>

            <div class="separator line"></div>

            <div class="eight columns alpha">
                <h2 class="titleSection">您最坚强的小伙伴之一</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices dui eu lectus fringilla non pellentesque magna<br /> egestas. Suspendisse potenti. Vivamus at magna libero. </p>
                <div class="one_half firstcols">
                    <ul class="row-list">
                        <li>
                            <span class="circle alignleft">1</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">不错的工程师</h5>
                            <div class="indentleft">Aliquam luctus rhoncus eros malesuam nun.</div>
                        </li>
                        <li>
                            <span class="circle alignleft">2</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">稳定的产品</h5>
                            <div class="indentleft">Aliquam luctus rhoncus eros malesuam nun.</div>
                        </li>
                        <li>
                            <span class="circle alignleft">3</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">数年的行业沉淀</h5>
                            <div class="indentleft">Aliquam luctus rhoncus eros malesuam nun.</div>
                        </li>
                    </ul>
                </div>
                <div class="one_half lastcols">
                    <ul class="row-list">
                        <li>
                            <span class="circle alignleft">4</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">富有创新意识的年轻人</h5>
                            <div class="indentleft">Aliquam luctus rhoncus eros malesuam nun.</div>
                        </li>
                        <li>
                            <span class="circle alignleft">5</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">客户第一的理念</h5>
                            <div class="indentleft">Aliquam luctus rhoncus eros malesuam nun.</div>
                        </li>
                        <li>
                            <span class="circle alignleft">6</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">贴心的售后服务</h5>
                            <div class="indentleft">Aliquam luctus rhoncus eros malesuam nun.</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="four columns omega">
                <img src="@themeurl("/images/content/pic1.jpg")" alt="" class="scale-with-grid" />
                <div class="center"><a href="/about" class="button large">更加仔细的了解我们</a></div>
            </div>

            <div class="clear"></div><!-- clear float -->
        </section>
    </div>
</div>
