@{
    Layout = themeserverpath + "/Views/Shared/_layout.cshtml";
    currentnavslug = "service";
}

@css("/styles/inner.css")

<div id="outermain" class="inner">
    <div class="container">
        <section id="maincontent" class="twelve columns">

            <h1 class="pagetitle">我们的产品与服务</h1>
            <div class="four columns alpha">
                <h4>网站建设解决方案</h4>
                <p>Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet. </p>
                <ul class="listSquareSmall">
                    <li><a href="#">Maecenas in eros tellus</a></li>
                    <li><a href="#">Fusce suscipit risus sed tortor mattis</a></li>
                    <li><a href="#">Aenean aliquam erat nec lectus</a></li>
                    <li><a href="#">Sed eget turpis dui, sed auctor nisi</a></li>
                </ul>
            </div>
            <div class="four columns">
                <h4>企业办公自动化解决方案</h4>
                <p>Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet. </p>
                <ul class="listSquareSmall">
                    <li><a href="#">Maecenas in eros tellus</a></li>
                    <li><a href="#">Fusce suscipit risus sed tortor mattis</a></li>
                    <li><a href="#">Aenean aliquam erat nec lectus</a></li>
                    <li><a href="#">Sed eget turpis dui, sed auctor nisi</a></li>
                </ul>
            </div>
            <div class="four columns omega">
                <h4>软件定制开发</h4>
                <p>Donec tristique rhoncus libero vitae cursus. Morbi commodo, massa non lobortis rutrum, tortor risus viverra. Donec cursus fringilla aliquet. </p>
                <ul class="listSquareSmall">
                    <li><a href="#">Maecenas in eros tellus</a></li>
                    <li><a href="#">Fusce suscipit risus sed tortor mattis</a></li>
                    <li><a href="#">Aenean aliquam erat nec lectus</a></li>
                    <li><a href="#">Sed eget turpis dui, sed auctor nisi</a></li>
                </ul>
            </div>

            <div class="separator"></div>

            <div class="highlight-content">
                <h1>我们期待与您的合作。</h1>
                <p class="customtext marginlarge">相信无论是对于您、还是对于我们，这都是一个美好的开始或延续。</p>
                <p><a href="/contact" class="button">联系我们</a></p>
            </div>

            <div class="separator"></div>

            <h2 class="titleBold">服务理念</h2>
            <ul class="listColumn">
                <li class="three columns alpha">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic7.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">合理的价格</h5>
                    <p>Lorem ipsum dolor sit, consectetur.</p>
                </li>
                <li class="three columns">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic8.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">优秀的设计</h5>
                    <p>Lorem ipsum dolor sit, consectetur.</p>
                </li>
                <li class="three columns">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic9.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">真实的解决您的问题</h5>
                    <p>Lorem ipsum dolor sit, consectetur.</p>
                </li>
                <li class="three columns omega">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic10.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">愉快的合作</h5>
                    <p>Lorem ipsum dolor sit, consectetur.</p>
                </li>
            </ul>



            <div class="clear"></div><!-- clear float -->
        </section>
    </div>
</div>
