@model post
@{
    ViewBag.active_nav = "pageupdate";

    ViewBag.Title = lang("新建页面");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
    <li><a href="@Url.Action("list")">@lang("页面管理")</a></li>
    <li class="active"><a href="@Url.Action("update", new { @id = Model.id })">@lang("编辑页面")</a></li>
}
@section toolbar{
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;@lang("修改页面基本信息")</h1>

            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <div class="pull-right col-xs-12 col-sm-auto">
                        <a href="@Url.Action("add")" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>@lang("创建新页面").ToHtmlString()</a>
                    </div>
                    <div class="visible-xs clearfix form-group-margin"></div>

                </div>
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("update", "pages", FormMethod.Post))
{
    @Html.Partial("form", Model)
}

@section footer{
@scripts("~/scripts/jquery.unobtrusive-ajax.min.js",
            "~/scripts/jquery.validate.unobtrusive.js",
            "~/scripts/admin/validater.js",
            "~/Editor/ueditor.config.js",
            "~/Editor/ueditor.all.js",
            "~/scripts/admin/page.js")
}