@{
    activeflag = "dashboard";
    ViewBag.Title = lang("控制台");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb {
}

@section toolbar{
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;@lang("控制台")</h1>

            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h"/>
                    <div class="pull-right col-xs-12 col-sm-auto"></div>
                    <div class="visible-xs clearfix form-group-margin"></div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <script>
            init.push(function () {
                var data = [@{
                    List<string> result = new List<string>();
                    DateTime begindate = DateTime.Now.AddMonths(-6);
                    DateTime enddate = DateTime.Now;
                    while (begindate <= enddate)
                    {
                        DateTime s = DateTime.Parse(begindate.ToString("yyyy-MM-01"));
                        DateTime e = DateTime.Parse(begindate.ToString("yyyy-MM-01")).AddMonths(1).AddDays(-1);
                        
                        string json = " month:'{0}', post:{1}, comment:{2}, file:{3}, user:{4} ";
                        
                        result.Add("{" + string.Format(json, begindate.ToString("yyyy/MM"),
                            postcount("type='post' and date between :begindate and :enddate",
                                new { begindate = s, enddate = e }),
                            commentcount("date between :begindate and :enddate",
                                new { begindate = s, enddate = e }),
                            postcount("type='file' and date between :begindate and :enddate",
                                new { begindate = s, enddate = e }),
                            usercount("date between :begindate and :enddate",
                                new { begindate = s, enddate = e }))
                                + "}");

                        begindate = begindate.AddMonths(1);
                    }
                    @Html.Raw(string.Join(",", result.ToArray()));
                }];
                Morris.Line({
                    element: 'hero-graph',
                    data: data,
                    xkey: 'month',
                    ykeys: ['post', 'comment', 'file', 'user'],
                    labels: ['文章', '评论', '文件', '用户'],
                    lineColors: ['#fff', '#e66454', '#857198', '#f4b04f'],
                    lineWidth: 2,
                    pointSize: 4,
                    gridLineColor: 'rgba(255,255,255,.5)',
                    resize: true,
                    parseTime: false,
                    gridTextColor: '#fff'
                });
            });
        </script>
        <div class="stat-panel">
            <div class="stat-row">
                <div class="stat-cell col-sm-4 padding-sm-hr bordered no-border-r valign-top">
                    <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-bar-chart-o text-primary"></i>&nbsp;&nbsp;@lang("概况")</h4>
                    <ul class="list-group no-margin">
                        <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
                            @lang("文章总数") <span class="label label-success pull-right">@postcount("type='post'")</span>
                        </li> 
                        <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                            @lang("评论总数") <span class="label label-success pull-right">@commentcount()</span>
                        </li>
                        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                            @lang("文件总数") <span class="label label-success pull-right">@postcount("type='file'")</span>
                        </li>
                        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                            @lang("用户总数") <span class="label label-success pull-right">@usercount()</span>
                        </li>
                    </ul>
                </div>
                <div class="stat-cell col-sm-8 bg-primary padding-sm valign-middle">
                    <div id="hero-graph" class="graph" style="height: 230px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="col-md-6">
    <div class="panel panel-success widget-comments">
        <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>@lang("近期评论")</span>
            <div class="panel-heading-controls">
            </div>
        </div>
        <div class="panel-body tab-content-padding">
            <div class="panel-padding no-padding-vr ">
                @foreach (comment c in comments(5, 1, order: "date desc"))
                {
                    post p = post(c.postid);
                    user u = user(c.userid);
                    <div class="comment">
                        @{
                            if (null != u && !string.IsNullOrWhiteSpace(u.avatar))
                            {
                                <img src="@u.avatar" alt="" class="comment-avatar">
                            }
                            else
                            {
                                <img src="@(root)content/images/avatar.png" alt="" class="comment-avatar">
                            }
                        }
                        <div class="comment-body">
                            <div class="comment-by">
                                @if (u.id > 0)
                                {
                                    <a href="@Url.Action("update", "users", new { @id = u.id })" title="">@c.author</a>
                                }
                                else
                                {
                                    @c.author
                                }
                                @lang("评论于") <a href="@Url.Action("update", "posts", new { @id = p.id })" title="">@p.title</a>
                            </div>
                            <div class="comment-text">
                                @c.content
                            </div>
                            <div class="comment-actions">
                                <a href="@Url.Action("update", "comments", new { @id = c.id })"><i class="fa fa-pencil"></i>@lang("编辑")</a>
                                <a href="@Url.Action("delete", "comments", new { @id = c.id })" ask="@lang("确定删除此评论吗？")"><i class="fa fa-times"></i>@lang("删除")</a>
                                <span class="pull-right">@c.date.ToRecentTime()</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-warning" id="dashboard-recent">
        <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-fire text-danger"></i>@lang("最新动态")</span>
            <ul class="nav nav-tabs nav-tabs-xs">
                <li class="active">
                    <a href="#dashboard-recent-threads" data-toggle="tab">@lang("微博")</a>
                </li>
                <li>
                    <a href="#dashboard-recent-comments" data-toggle="tab">@lang("新闻")</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="widget-threads panel-body tab-pane no-padding fade active in" id="dashboard-recent-threads">
                <div class="padding-sm text-center"><img src="@themeurl("~/Content/images/loading.gif")" /></div>
             </div>
            <div class="widget-comments panel-body tab-pane no-padding fade" id="dashboard-recent-comments">
                <div class="padding-sm text-center"><img src="@themeurl("~/Content/images/loading.gif")" /></div>
            </div>
            <script type="text/javascript">
                init.push(function () {
                    $('#dashboard-recent-threads').load('@Url.Action("miniblognews","common")');
                    $('#dashboard-recent-comments').load('@Url.Action("news","common")');
                });
            </script>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<hr />
<div class="row">
    <div class="col-md-12">
        感谢贡献者：
        @foreach (OnlineContributorDTO c in onlinecontributor())
        {
            if (string.IsNullOrWhiteSpace(c.Url))
            {
                @c.Name
            }
            else
            {
                <a href="@c.Url" target="_blank">@c.Name</a>
            }
            <span>&nbsp;&nbsp;</span>
        }
        <br />

        程序版本：@R.Version

        <br />

        <div>Copyright (c) <a href="http://www.qiniaosoft.com/" target="_blank">QiniaoSoft</a> All Rights Resiverd. 2014 - @DateTime.Now.Year</div>
    </div>
</div>