@model user

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.id)
@Html.HiddenFor(m => m.siteid)
@Html.HiddenFor(m => m.status)

<div class="row">
    <div class="col-md-8">
        <div class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">@lang("填写用户信息")</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.login, new { @class = "col-sm-2 control-label", @for = "inputlogin" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.login, new { @class = "form-control", @id = "inputlogin", @placeholder = lang("请输入用户名") })
                        @Html.ValidationMessageFor(m => m.login)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.pass, new { @class = "col-sm-2 control-label", @for = "inputpass" })
                    <div class="col-sm-10">
                        @if(Model.id == 0)
                        {
                            @Html.TextBoxFor(m => m.pass, new { @class = "form-control", @id = "inputpass", @placeholder = lang("请输入登录密码") })
                        }
                        else
                        {
                            <input type="text" name="newpass" class="form-control" id="inputpass" placeholder="@lang("请输入登录密码，不修改密码请留空。")" />
                            @Html.HiddenFor(m => m.pass)
                        }
                        
                        @Html.ValidationMessageFor(m => m.pass)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.nicename, new { @class = "col-sm-2 control-label", @for = "inputnicename" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.nicename, new { @class = "form-control", @id = "inputnicename", @placeholder = lang("请输入昵称") })
                        @Html.ValidationMessageFor(m => m.nicename)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.email, new { @class = "col-sm-2 control-label", @for = "inputemail" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @id = "inputemail", @placeholder = lang("请输入联系邮箱") })
                        @Html.ValidationMessageFor(m => m.email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.url, new { @class = "col-sm-2 control-label", @for = "inputurl" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.url, new { @class = "form-control", @id = "inputurl", @placeholder = lang("请输入用户主页") })
                        @Html.ValidationMessageFor(m => m.url)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.tel, new { @class = "col-sm-2 control-label", @for = "inputTel" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.tel, new { @class = "form-control", @id = "inputTel", @placeholder = lang("请输入联系电话") })
                        @Html.ValidationMessageFor(m => m.tel)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.roleid, new { @class = "col-sm-2 control-label", @for = "selectroleid" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.roleid, roles().
                                                            Select(x => new SelectListItem()
                                                            {
                                                                Text = x.name,
                                                                Value = x.id.ToString(),
                                                                Selected = Model.roleid == x.id
                                                            }).ToList<SelectListItem>(), new { @class = "form-control", @id = "selectroleid" })
                        @Html.ValidationMessageFor(m => m.roleid)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">@lang("操作")</span>
            </div>
            <div class="panel-body">
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <dl class="dl-horizontal form-property">
                    <dt>@lang("模式")</dt>
                    <dd><em>@Html.Raw(Model.id == 0 ? lang("新建") : lang("编辑"))</em></dd>
                    <dt>@lang("状态")</dt>
                    <dd><em>@Html.Raw(string.IsNullOrEmpty(Model.status) ? "&nbsp;" : Model.status)</em></dd>
                    <dt>@lang("登录时间")</dt>
                    <dd><em>@Html.Raw(Model.logined == DateTime.MinValue ? lang("未知").ToHtmlString() : Model.logined.ToRecentTime())</em></dd>
                    <dt>@lang("创建时间")</dt>
                    <dd><em>@Html.Raw(Model.date == DateTime.MinValue ? lang("未知").ToHtmlString() : Model.date.ToRecentTime())</em></dd>
                </dl>

                <hr />
                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        @if (Model.id > 0)
                        {
                            <input type="submit" class="btn btn-primary" value="@lang("更新")" />
                            if (Model.id != currentuser.info.id)
                            {
                                <a href="@Url.Action("delete", new { @id = Model.id, @returnurl = backurl })"
                                   ask="@lang("确定删除此用户吗（此操作将不可恢复。）？")"
                                   class="btn btn-danger">@lang("删除")</a>
                            }
                        }
                        else
                        {
                            <input type="submit" class="btn btn-primary" value="@lang("创建")" />
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">@lang("用户头像")</span>
            </div>
            <div class="panel-body">
                <table style="width:100%;">
                    <tr>
                        <td id="pic-box" class="picbox" >
                            @if (!string.IsNullOrWhiteSpace(Model.avatar))
                            {
                                <img src="@Model.avatar" title="点击更换头像" />
                                <a href="javascript:;" class="del" id="btnpicremove">删除</a>
                            }
                            else
                            {
                                @lang("点此选择一张图片作为头像")
                            }
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(m=>m.avatar)
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#pic-box').click(function () {
        Q.media({
            single: true,
            mimetype: 'image',
            ok: function (media) {
                if (media) {
                    $('#pic-box').html('<img title="点击更换头像" src= "' + media.url + '"/><a href="javascript:;" class="del" id="btnpicremove">删除</a>');
                    $('#avatar').val(media.url);
                }
            }
        });
    });

    $('#pic-box').on('click', '#btnpicremove', function (e) {
        $('#pic-box').html('@lang("点此选择一张图片作为头像").ToHtmlString()');
        $('#avatar').val('');

        e.stopPropagation();
        return false;
    });
</script>