@model theme

@{
    activeflag = "themelist";

    ViewBag.Title = "主题管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    IList<theme> themelist = themes();
}
@section breadcrumb {
    <li class="active"><a href="@Url.Action("list")">@lang("主题管理")</a></li>
}

@section toolbar{
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-eye page-header-icon"></i>&nbsp;&nbsp;@lang("主题管理")</h1>

            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <div class="pull-right col-xs-12 col-sm-auto">
                        <a href="@Url.Action("add")" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>@lang("安装主题").ToHtmlString()</a>
                    </div>
                    <div class="visible-xs clearfix form-group-margin"></div>

                </div>
            </div>
        </div>
    </div>
}


<div class="row theme-box">
    <div class="col-lg-12">
        <div class="this-theme-box">
            <div class="this-pic">@img(Model.shot, new { @title = Model.name, @alt = Model.name })</div>
            <div class="this-description">
                <h3>当前主题</h3>
                <h4>@Model.name </h4>
                <ul class="theme-info">
                    <li class="editor">作者为 <a href="@Model.url" target="_blank">@Model.author</a></li>
                    <li>版本：@Model.version </li>
                </ul>
                <p class="theme-description">
                    @Model.description
                </p>
                <div class="theme-options">
                    @Html.ActionLink("编辑", "edit", "themes", null, new { @class = "customize" })
                    <span>选项：</span>
                    <ul>
                        <li class="theme-options-last">@Html.ActionLink("菜单", "list", "navs")</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        @if (themelist.Count > 0)
        {
            <div class="other-themes">
                @foreach (theme t in themelist)
                {
                    if(t.dirname== Model.dirname)
                    {
                        continue;
                    }
                    <div class="other-themes-item">
                        <div class="other-pic">
                            <div class="pic-box">
                                @img(t.shot, new { @title = t.name, @alt = t.name })
                            </div>
                        </div>
                        <h4>@t.name</h4>
                        <span class="theme-info">作者为 <a href="@t.url" target="_blank">@t.author</a></span>
                        <div class="clear"></div>
                        <div class="action-links">
                            <ul>
                                <li><a href="@Url.Action("setdefault", "themes", new { @id = t.dirname })">启用</a></li>
                                @if (!string.IsNullOrEmpty(t.prevurl))
                                {
                                    <li><a href="@t.prevurl" target="_blank">在线预览</a></li>
                                }
                                <li class="action-last"><a href="javascript://" class="show-detail-btn" data-theme="@(t.dirname)">详细信息</a></li>
                            </ul>
                            <div class="delete-action"><a class="link-btn-important delete-btn" href="@Url.Action("delete", "themes", new { @id = t.dirname })" ask="@lang("确定删除此主题吗？")">删除</a></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                }

                <div class="clear"></div>
            </div>
        }
    </div>
</div>

@section footer{
    <div style="display:none;" id="detail-modal-box"></div>
    <script type="text/javascript">
        $('.show-detail-btn').click(function () {
            var box = $('#detail-modal-box'),
                me = $(this);

            box.load('@Url.Action("detail")?theme=' + me.data('theme'), function () {
                box.show();
                box.find('.modal').modal({
                    show: true
                });
            });
        });
    </script>
}