@{
    Layout = svroot + "/Views/Shared/_layout.cshtml";
    activeflag = "about";

    post data = post("about");
}

@css("/styles/inner.css")

<div id="outermain" class="inner">
    <div class="container">
        <section id="maincontent" class="twelve columns">

            <h1 class="pagetitle">关于我们</h1>

            <div class="eight columns alpha">
                @if (!string.IsNullOrEmpty(data.pic))
                {
                    <div class="four columns alpha  alignleft">
                        <div class="shadowBottom"><img src="@data.pic" alt="@data.title" class="imgborder" /></div>
                    </div>
                }
                @Html.Raw(data.content)
            </div>
            <div class="four columns omega">
                <h4 class="titleRegular">我们的特长</h4>
                <p>我们是一家从事高新技术的企业，在网站建设、企业办公自动化方面有不错的经验，我们的软件工程师和设计师都是专注此道数年的行业精英。 </p>
                <ul class="listSquareSmall">
                    <li>灵敏的互联网嗅觉</li>
                    <li>出色的产品设计</li>
                    <li>专注此道数年的丰富经验</li>
                    <li>对产品与设计精益求精的态度</li>
                </ul>
            </div>

            <div class="separator"></div>

            <div class="highlight-content">
                <h1>我们期待与您的合作。</h1>
                <p class="customtext marginlarge">相信无论是对于您、还是对于我们，这都是一段美好的开始。</p>
                <p><a href="/contact" class="button">联系我们</a></p>
            </div>

            <div class="separator"></div>

            <h2 class="titleBold">产品介绍</h2>
            <ul class="listColumn">
                <li class="four columns alpha">
                    <div class="shadowBottom marginmiddle"><img src="@themeurl("/images/content/pic4.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">奇鸟CMS</h5>
                    <p>一个开源的跨平台内容管理系统</p>
                </li>
                <li class="four columns">
                    <div class="shadowBottom marginmiddle"><img src="@themeurl("/images/content/pic3.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">珠宝零售终端财务管理系统</h5>
                    <p>应用于珠宝首饰连锁专卖店，支持多分店管理，条码扫描，会员管理，单码单品，单码多品，丰富的营业统计报表，节省人力、物力、财力，缩短工作时间，提高效率和准确性。</p>
                </li>
                <li class="four columns omega">
                    <div class="shadowBottom marginmiddle"><img src="@themeurl("/images/content/pic5.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">行政事业单位人事管理系统</h5>
                    <p>基于局域网的人社局信息管理系统，可对复杂的人员关系进行细粒度的管理和有效共享。</p>
                </li>
            </ul>


            <div class="separator line"></div>

            <h2 class="titleBold">为什么要选择我们？</h2>
            <div class="eight columns alpha">
                <p>我们是一家创新型互联网公司，位于美丽的天府之国成都。我们拥有非常专业、非常敬业、非常有耐心的软件开发工程师和UI设计师。我们把任何一个网站都当作一件艺术品来精心雕琢，我们不求做得更多，只求做得更好，那怕是一点点。<br/>其次，我们制作的产品，关注点不仅仅在于产品的外观和功能，包括产品的性能、易用性、安全性，都是我们关注并解决的重点。同时，我们做的并不是一锤子买卖，我们更希望以优质的服务来获得您的认同与支持。</p>
                <div class="one_third firstcols">
                    <ul class="listNolist">
                        <li><span class="customColor">&mdash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;优秀的软件工程师与设计师</span></li>
                        <li><span class="customColor">&mdash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成熟的产品</span></li>
                        <li><span class="customColor">&mdash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;多年的行业经验</span></li>
                        <li><span class="customColor">&mdash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用心服务的企业文化</span></li>
                    </ul>
                </div>
                <div class="one_third lastcols">
                </div>
            </div>

            <div class="four columns omega">
                <p><img src="@themeurl("/images/content/pic6.jpg")" alt="" class="alignright scale-with-grid" /></p>
            </div>

            <div class="clear"></div><!-- clear float -->
        </section>
    </div>
</div>
