@{
    Layout = svroot + "/Views/Shared/_layout.cshtml";
    activeflag = "index";
}

@css("/styles/flexslider.css")

<div id="outerslider">
    <div class="container">
        <div id="slidercontainer" class="twelve columns">

            <section id="slider">
                <div id="slideritems" class="flexslider">
                    <ul class="slides">
                        <li>
                            <a href="http://www.qiniaocms.com"><img src="@themeurl("/images/content/slide1.jpg")" alt="" /></a>
                            <div class="flex-caption">
                                <h1>奇鸟CMS</h1>
                                <div class="slidetext1"><span class="colortext">开源</span> &amp; <span class="colortext">跨平台</span></div>
                                <div class="slidetext2">基于.NET4 MVC，得益于MONO项目，也同样可以运行于Linux的开源CMS。</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>
</div>

<div id="outerbeforecontent">
    <div class="container">
        <div id="beforecontent" class="twelve columns">
            <h1>
                您好，欢迎光临奇鸟软件，我们最近出了一个不错的产品<span class="colortext">奇鸟CMS</span>您当前浏览的网站，正是由奇鸟CMS驱动的，如果您感兴趣的话，可以进一步了解。
            </h1>
            <a href="http://www.qiniaocms.com" target="_blank" class="button">了解更多</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/service" class="button">还有其他服务吗？</a>
        </div>
    </div>
</div>

<div id="outermain">
    <div class="container">
        <section id="maincontent" class="twelve columns">

            <h2 class="titleSection">我们可以为您做一些什么？</h2>
            <div class="one_third firstcols">
                <h3 class="titleRegular">
                    <img src="@themeurl("/images/icons/icon2.png")" alt="" class="alignleft" />
                    网站建设解决方案
                </h3>
                <p>
                    我们可以为您提供一体化的网站建设服务，从界面设计、程序开发、网站上线到后期维护都可以为您一手包办。
                </p>
            </div>
            <div class="one_third">
                <h3 class="titleRegular">
                    <img src="@themeurl("/images/icons/icon1.png")" alt="" class="alignleft" />办公软件开发与维护
                </h3>
                <p>
                    为您提供企业办公软件、行业软件、OA系统的定制开发与维护服务。
                </p>
            </div>
            <div class="one_third lastcols">
                <h3 class="titleRegular">
                    <img src="@themeurl("/images/icons/icon3.png")" alt="" class="alignleft" />实现您的愿望
                </h3>
                <p>
                    您还需要做移动APP吗？或者说您的网站有一些特殊的功能需要实现？别担心，我们还可以根据您的实际需求来为您单独开发符合您具体期望的网站或软件。
                </p>
            </div>

            <div class="separator line"></div>

            <div class="eight columns alpha">
                <h2 class="titleSection">您最坚强的小伙伴之一</h2>
                <p>我们是由一群朝气蓬勃、富有创意的年轻人组成，但我们其中也不乏行业经验六七年的“大佬”，我们的核心价值是精益求精的产品、客户第一的理念。<br/>
                我们一直愿意也一直在努力成为您最坚强的伙伴之一。
                </p>
                <div class="one_half firstcols">
                    <ul class="row-list">
                        <li>
                            <span class="circle alignleft">1</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">不错的工程师</h5>
                            <div class="indentleft">我们拥有浸淫此道六七载高级软件工程师。</div>
                        </li>
                        <li>
                            <span class="circle alignleft">2</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">稳定的产品</h5>
                            <div class="indentleft">我们拥有大众口碑的成熟产品。</div>
                        </li>
                        <li>
                            <span class="circle alignleft">3</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">数年的行业沉淀</h5>
                            <div class="indentleft">多年以来沉淀的行业经验。</div>
                        </li>
                    </ul>
                </div>
                <div class="one_half lastcols">
                    <ul class="row-list">
                        <li>
                            <span class="circle alignleft">4</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">富有创新意识的年轻人</h5>
                            <div class="indentleft">创新、活泼、前沿的年轻人群体。</div>
                        </li>
                        <li>
                            <span class="circle alignleft">5</span>
                            <h5 class="titleSemibold colortext margin_bottomoff">客户第一的理念</h5>
                            <div class="indentleft">客户是我们整个企业文化的核心之一，而另一个核心则是产品。</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="four columns omega">
                <img src="@themeurl("/images/content/pic1.jpg")" alt="" class="scale-with-grid" />
                <div class="center"><a href="/about" class="button large">更加仔细的了解我们</a></div>
            </div>

            <div class="clear"></div>
        </section>
    </div>
</div>
