@{
    Layout = svroot + "/Views/Shared/_layout.cshtml";
    activeflag = "service";
}

@css("/styles/inner.css")

<div id="outermain" class="inner">
    <div class="container">
        <section id="maincontent" class="twelve columns">

            <h1 class="pagetitle">我们的产品与服务</h1>
            <div class="four columns alpha">
                <h4>网站建设解决方案</h4>
                <p>我们可以为您提供一体化的网站建设服务，从界面设计、程序开发、网站上线到后期维护都可以为您一手包办。 </p>
                <ul class="listSquareSmall">
                    <li>专业的设计师根据需求设计定制</li>
                    <li>免费赠送服务器、域名各一年，并免费技术支持一年</li>
                    <li>每个月免费备份网站数据一次，保留最近6个月的数据</li>
                    <li>免费帮助网站备案</li>
                </ul>
            </div>
            <div class="four columns">
                <h4>政府事业单位、企业办公自动化解决方案</h4>
                <p>为您提供企业办公软件、行业软件、OA系统的定制开发与维护服务。 </p>
                <ul class="listSquareSmall">
                    <li>政府事业单位、企业等多款通用软件实际运作案例</li>
                    <li>ERP、CRM、OA等企业通用软件的开发经验</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="four columns omega">
                <h4>软件定制开发</h4>
                <p>根据您的实际需求来为您单独开发符合您具体期望的网站或软件。</p>
                <ul class="listSquareSmall">
                    <li>根据您企业不同的情况定制开发办公应用</li>
                    <li>IOS、Andriod手机应用开发</li>
                    <li>制作有您特色的企业网站</li>
                    <li>提供有行业竞争力的价格</li>
                </ul>
            </div>

            <div class="separator"></div>

            <div class="highlight-content">
                <h1>我们期待与您的合作。</h1>
                <p class="customtext marginlarge">相信无论是对于您、还是对于我们，这都是一个美好的开始或延续。</p>
                <p><a href="/contact" class="button">联系我们</a></p>
            </div>

            <div class="separator"></div>

            <h2 class="titleBold">服务理念</h2>
            <ul class="listColumn">
                <li class="three columns alpha">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic7.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">合理的价格</h5>
                    <p>根据您实际的需求，给您一个有行业竞争力的价格。</p>
                </li>
                <li class="three columns">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic8.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">优秀的设计</h5>
                    <p>我们有数年经验的UI设计师和软件架构设计师。</p>
                </li>
                <li class="three columns">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic9.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">真实的解决您的问题</h5>
                    <p>我们从实际情况出发，认真的分析每一个客户的真实需求，切实的解决您的问题。</p>
                </li>
                <li class="three columns omega">
                    <div class="shadowBottom extrasmall marginmiddle"><img src="@themeurl("/images/content/pic10.jpg")" alt="" class="imgborder" /></div>
                    <h5 class="titleRegular marginsmall">愉快的合作</h5>
                    <p>我们真诚的面对每一位客户，这是我们合作的基础。</p>
                </li>
            </ul>

            <div class="clear"></div>
        </section>
    </div>
</div>
