@{ IList<carte> allcartes = cartes(); }
<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->      <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - @powered</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    @css("~/content/admin/css/bootstrap.min.css", "~/content/admin/css/admin.min.css", "~/content/admin/css/widgets.min.css", "~/content/admin/css/pages.min.css",
        "~/content/admin/css/rtl.min.css", "~/content/admin/css/themes.min.css", "~/content/admin/css/site.css")

    @basejs()

    <!--[if lt IE 9]>
        @iehack()
    <![endif]-->

    <script type="text/javascript">
        window.medialogurl = '@Url.Action("mediadialog", "common")';
        window.mediasurl = '@Url.Action("medias", "common")';
        window.mediaupload = '@Url.Action("upload", "common")';
    </script>
    <script type="text/javascript">
        var init = [];
    </script>
    @RenderSection("head", false)
</head>

<body class="theme-default main-menu-animated@(cookie("mmstate") == "collapsed" ? " mmc" : "")">
    <div id="main-wrapper">
        <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <button type="button" id="main-menu-toggle" title="@lang("展开/折叠菜单").ToHtmlString()"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">@lang("隐藏菜单")</span></button>
            <div class="navbar-inner">
                <div class="navbar-header">
                    <a href="@root" class="navbar-brand">
                        <div>
                            @if (!string.IsNullOrWhiteSpace(currentsite.logo))
                            {
                                <img alt="@currentsite.name" src="@currentsite.logo">
                            }
                            else
                            {
                                <img alt="@currentsite.name" src="@Url.Content("~/content/images/ico.png")">
                            }
                        </div>
                        @currentsite.name
                    </a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

                </div>

                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("dashboard", "home")">@lang("控制台")</a>
                            </li>
                            <li>
                                <a href="@(root)">@lang("首页")</a>
                            </li>
                        </ul>

                        <div class="right clearfix">
                            <ul class="nav navbar-nav pull-right right-navbar-nav">
                                <li>
                                    <form class="navbar-form pull-left" action="http://so.qiniaosoft.com" target="_blank" method="get">
                                        <div class="form-group">
                                            <input type="text" name="key" class="form-control" placeholder="@lang("搜索")">
                                        </div>
                                    </form>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                        @if (!string.IsNullOrWhiteSpace(currentuser.info.avatar))
                                        {
                                            <img src="@currentuser.info.avatar" alt="@currentuser.info.nicename">
                                        }
                                        else
                                        {
                                            <img alt="@currentuser.info.nicename" src="@Url.Content("~/content/images/avatar.png")">
                                        }
                                        <span>@currentuser.info.nicename</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if (allcartes.Any(m => string.Compare(m.action, "update", true) == 0 &&
                                                                string.Compare(m.controller, "mine", true) == 0 &&
                                                                string.Compare(m.area, "admin", true) == 0))
                                        {
                                            <li><a href="@Url.Action("update", "mine")"><i class="dropdown-icon fa fa-user"></i>&nbsp;&nbsp;@lang("个人设置")</a></li>
                                        }
                                        @if (allcartes.Any(m => string.Compare(m.action, "modifypass", true) == 0 &&
                                                                string.Compare(m.controller, "mine", true) == 0 &&
                                                                string.Compare(m.area, "admin", true) == 0))
                                        {
                                            <li><a href="@Url.Action("modifypass", "mine")"><i class="dropdown-icon fa fa-exclamation"></i>&nbsp;&nbsp;@lang("密码修改")</a></li>
                                        }
                                        @if (allcartes.Any(m => string.Compare(m.action, "current", true) == 0 &&
                                                                string.Compare(m.controller, "sites", true) == 0 &&
                                                                string.Compare(m.area, "admin", true) == 0))
                                        {
                                            <li><a href="@Url.Action("current", "sites")"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;@lang("网站设置")</a></li>
                                        }

                                        <li class="divider"></li>
                                        <li><a href="@Url.RouteAction("Account", "logout")"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;@lang("注销")</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-menu" role="navigation">
            <div id="main-menu-inner">
                <div class="menu-content top" id="menu-content">
                    <div>
                        <div class="text-bg"><span class="text-slim">@lang("欢迎，")</span> <span class="text-semibold">@currentuser.info.nicename</span></div>
                        @if (!string.IsNullOrWhiteSpace(currentuser.info.avatar))
                        {
                            <img src="@currentuser.info.avatar" alt="@currentuser.info.nicename">
                        }
                        else
                        {
                            <img alt="@currentuser.info.nicename" src="@Url.Content("~/content/images/avatar.png")">
                        }
                        <div class="btn-group">
                            @if (allcartes.Any(m => string.Compare(m.action, "update", true) == 0 &&
                                                                                            string.Compare(m.controller, "mine", true) == 0 &&
                                                                                            string.Compare(m.area, "admin", true) == 0))
                            {
                                <a href="@Url.Action("update", "mine")" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
                            }
                            @if (allcartes.Any(m => string.Compare(m.action, "current", true) == 0 &&
                                                                                            string.Compare(m.controller, "sites", true) == 0 &&
                                                                                            string.Compare(m.area, "admin", true) == 0))
                            {
                                <a href="@Url.Action("current", "sites")" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
                            }
                            <a href="@Url.RouteAction("Account", "logout")" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="navigation">
                    <li @(activeflag == "dashboard" ? "class=active" : "")>
                        <a href="@Url.Action("dashboard", "home")"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">@lang("控制台")</span></a>
                    </li>
                    @foreach (carte c in cartes(where: "parent=0"))
                    {
                        IList<carte> child = cartes(where: "parent=:parent", wherevalue: new { parent = c.id });
                        if (child.Count > 0)
                        {
                            <li class="mm-dropdown@(child.Any(m => m.activeflag == activeflag && !string.IsNullOrWhiteSpace(m.activeflag)) ? " open active " : "")">
                                <a href="javascript:;">@Html.Raw(c.icon)<span class="mm-text">@lang(c.name)</span></a>
                                <ul>
                                    @foreach (carte c1 in child)
                                    {
                                        <li @((activeflag == c1.activeflag && !string.IsNullOrWhiteSpace(c1.activeflag)) ? "class=active" : "")>
                                            <a tabindex="-1" href="@Url.Action(c1.action, c1.controller, new { @area = c1.area })">@Html.Raw(c1.icon)<span class="mm-text">@lang(c1.name)</span></a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li @((activeflag == c.activeflag && !string.IsNullOrWhiteSpace(c.activeflag)) ? "class=active" : "")>
                                <a href="@Url.Action(c.action, c.controller, new { @area = c.area })">@Html.Raw(c.icon)<span class="mm-text">@lang(c.name)</span></a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div id="content-wrapper">
            <ul class="breadcrumb breadcrumb-page">
                <div class="breadcrumb-label text-light-gray">@lang("您在这儿：")</div>
                <li><a href="@(root)admin">@lang("控制台")</a></li>
                @RenderSection("breadcrumb", true)
            </ul>
            @RenderSection("toolbar", false)
            @RenderBody()
        </div>

        <div id="main-menu-bg"></div>
    </div>

    @scripts("~/content/admin/js/bootstrap.min.js", "~/content/admin/js/admin.min.js", "~/scripts/Q.js", "~/content/admin/js/site.js")

    @RenderSection("footer", false)

    @if (!isdashboard())
    {
        <div class="copyright">
            <hr />
            <div>Copyright (c) <a href="http://www.qiniaosoft.com/" target="_blank">QiniaoSoft</a> All Rights Resiverd. 2014 - @DateTime.Now.Year</div>
        </div>
    }
    <script type="text/javascript">
        window.Admin.start(init);
    </script>
</body>
</html>