@model pagedropdown

@{
    string where = "type = '" + Model.type + "'";
    if (Model.exclude > 0)
    {
        where += " and id != " + Model.exclude;
    }
    IList<post> postlist = posts(where: where, autopage: false, type: Model.type);

    postlist = QN.Service.PostService.RefereshName(postlist);
}

<select name="@Model.name" class="form-control" id="@Model.id">
    <option value="0">@Model.defaulttext</option>
    @foreach (post t in postlist)
    {
        <option value="@t.id" @(t.id == Model.selected ? "selected" : "")>@t.title</option>
    }
</select>